*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page */
.filters{
  display: flex;
  align-items : center;
  justify-content: space-between;
  box-Shadow: 0px 0px 3px gray;
}

/* antd icons */

.switch-icons{
  border: 1px solid rgb(26, 24, 24);
  border-radius: 5px;
  padding: 10px 15px;
}
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: rgb(54, 51, 51);
}

.inactiveicon{
  color: rgb(46, 43, 43);
}

